$orange: #ff7704;
$gradient-orange: linear-gradient(180deg, #ffac65 0%, #ff7704 100%);
$light-blue: #1887c7;
$gradient-deep-blue: radial-gradient(50% 50% at 50% 50%, #172671 0%, #12154c 100%),
  linear-gradient(158.02deg, #35353a 0%, #010013 100%);
$light-grey: #f9f9f9;
$dark-green: #008000;
$white: #ffffff;
$black: #010013;
